<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>

    <link href="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.css" rel="stylesheet"/>
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.umd.min.js"></script>

    <link rel='stylesheet' href="{% static 'css/index.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

</head>
<body>

<div id="elements-group-top-right">
    {% if user.is_authenticated %}
    <div class="btn-group">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% if user.avatar %} {{ user.avatar.url }} {% else %} {% static 'img/default_avatar.png'%} {% endif %}" style='width:50px; height:50px;'>
            Добро пожаловать {{ request.user.username }}
        </button>
        <div class="dropdown-menu" style='width:275px;'>
            <div class='text-center'>
                {{ request.user.first_name }} {{ request.user.last_name }}
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'users:profile' %}">Личный кабинет</a>
            <a class="dropdown-item" href="{% url 'admin:index' %}">Админ панель</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a>
        </div>
      </div>
    {% else %}
        <a href="{% url 'users:login' %}" class="btn btn-light" id="button-login">
            <i class="bi bi-box-arrow-in-right"></i>
            Войти
        </a>
    {% endif %}
    <button class="btn btn-light" id="button-menu" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-list" style="margin: auto;"></i>
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>

<div id="elements-group-bottom-right">
    <div class="labels-wrapper">
        <div class="label-text">Гео эксперт</div>
        <div class="legal-information">
            <a href="" data-bs-toggle="modal" data-bs-target="#legal-informationModal">Юридические сведения</a> и <a
                href="" data-bs-toggle="modal" data-bs-target="#politicsModal">политика конфиденциальности</a>
        </div>
    </div>
    <button class="btn btn-light" id="button-feedback" data-bs-toggle="modal" data-bs-target="#feedbackModal">
        <i class="bi bi-chat" style="margin: auto;"></i>
    </button>
</div>

<div class="modal fade" id="feedbackModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Обратная связь</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="button-feedback-group">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="Звонок"><i
                            class="bi bi-telephone-fill"></i></button>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="WhatsApp"><i
                            class="bi bi-whatsapp"></i></button>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="Telegram"><i
                            class="bi bi-telegram"></i></button>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="Email"><i
                            class="bi bi-envelope-at-fill"></i></button>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip"
                            title="Создать заявку"><i class="bi bi-file-earmark-text-fill"></i></button>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="legal-informationModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Юридические сведения</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit vulputate suscipit. Ut eu
                    finibus urna. Cras aliquam dui eget lectus commodo eleifend. Aenean lobortis, est id mattis finibus,
                    elit enim sagittis massa, accumsan rutrum neque eros ut augue. Nunc auctor mollis nibh, eu hendrerit
                    mauris rutrum quis. Donec aliquet dui non ante faucibus, a pretium sapien vehicula. Orci varius
                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus semper neque
                    velit, a molestie nulla dictum accumsan. Quisque non blandit ligula. Proin mattis purus eget egestas
                    lobortis. Nam ut suscipit sapien. Curabitur elit lorem, convallis et efficitur quis, ornare sit amet
                    tellus.</p>

                <p>In diam metus, venenatis a porta ut, eleifend at lacus. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vivamus id condimentum nibh, et tempus erat. Praesent purus nisl, auctor sed diam
                    non, euismod rutrum tortor. Vivamus ullamcorper urna vitae viverra imperdiet. Pellentesque hendrerit
                    elit at laoreet lacinia. In consequat eu nulla sit amet egestas. Maecenas non sodales ipsum. Integer
                    semper sapien commodo ex porttitor laoreet. Aenean lacinia nisi et luctus sagittis. Sed ut est
                    volutpat, viverra purus sit amet, facilisis mauris. In nec leo quis arcu semper imperdiet a ac
                    libero. Sed ac aliquam lacus. Nullam luctus vestibulum ullamcorper. Quisque a magna viverra,
                    scelerisque dolor et, commodo eros.</p>

                <p>Donec orci ligula, pharetra quis tellus ut, venenatis volutpat orci. Interdum et malesuada fames ac
                    ante ipsum primis in faucibus. Vestibulum convallis pellentesque nulla vel sollicitudin. Aenean
                    dignissim tincidunt justo id luctus. Ut pretium porta nisl eget euismod. Etiam pharetra, orci non
                    porta ultrices, augue odio iaculis arcu, at rutrum tortor mauris nec odio. Duis nec nunc arcu.
                    Mauris et mattis lorem, eu pellentesque orci. Aliquam interdum bibendum elementum. Aliquam id mi
                    rutrum erat rhoncus vehicula sed ut mi. Curabitur ante tellus, aliquam nec purus vel, rhoncus dictum
                    ipsum. Praesent non magna mauris.</p>

                <p>Ut imperdiet turpis cursus massa sollicitudin, consequat gravida sapien malesuada. Curabitur non
                    diam nec libero ultrices consequat. Nullam dignissim faucibus odio, vitae ultrices augue. Interdum
                    et malesuada fames ac ante ipsum primis in faucibus. Integer euismod in ipsum at eleifend. Ut
                    viverra lectus ante, vel luctus ligula elementum nec. Curabitur sit amet velit eu neque iaculis
                    mollis.</p>

                <p>Proin consequat leo at molestie vestibulum. Curabitur ut sagittis massa, eget pellentesque eros.
                    Fusce euismod condimentum luctus. Aenean at tincidunt risus. Sed vehicula dui id dui tempus
                    porttitor. Quisque nec neque vel odio ornare maximus quis et sapien. Quisque mollis justo sed tempus
                    auctor. Ut ultrices odio et massa aliquet, ac eleifend quam luctus. Nulla elementum ac nisl ut
                    sodales. Suspendisse consequat nibh non ex convallis efficitur.</p>

                <p>Sed mi eros, euismod in pharetra vel, congue nec lacus. Integer eget aliquam metus. Proin at velit
                    augue. Ut arcu orci, egestas vel blandit sed, mattis malesuada augue. Fusce tincidunt ligula sed
                    dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
                    dictum molestie ex, eu cursus massa. Praesent eget nibh dapibus, auctor nisl eget, feugiat lectus.
                    Aliquam quis felis ultricies, gravida erat quis, tincidunt turpis. In id dui quis felis porttitor
                    ornare id id velit. Praesent et est erat. Morbi pellentesque sapien non libero ullamcorper sodales.
                    In velit ipsum, convallis sed nulla vel, commodo auctor massa. Duis tincidunt odio porta odio
                    pellentesque, at bibendum metus fringilla. Mauris cursus lacus auctor mauris laoreet gravida.</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="politicsModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Политика конфиденциальности</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit vulputate suscipit. Ut eu
                    finibus urna. Cras aliquam dui eget lectus commodo eleifend. Aenean lobortis, est id mattis finibus,
                    elit enim sagittis massa, accumsan rutrum neque eros ut augue. Nunc auctor mollis nibh, eu hendrerit
                    mauris rutrum quis. Donec aliquet dui non ante faucibus, a pretium sapien vehicula. Orci varius
                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus semper neque
                    velit, a molestie nulla dictum accumsan. Quisque non blandit ligula. Proin mattis purus eget egestas
                    lobortis. Nam ut suscipit sapien. Curabitur elit lorem, convallis et efficitur quis, ornare sit amet
                    tellus.</p>

                <p>In diam metus, venenatis a porta ut, eleifend at lacus. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vivamus id condimentum nibh, et tempus erat. Praesent purus nisl, auctor sed diam
                    non, euismod rutrum tortor. Vivamus ullamcorper urna vitae viverra imperdiet. Pellentesque hendrerit
                    elit at laoreet lacinia. In consequat eu nulla sit amet egestas. Maecenas non sodales ipsum. Integer
                    semper sapien commodo ex porttitor laoreet. Aenean lacinia nisi et luctus sagittis. Sed ut est
                    volutpat, viverra purus sit amet, facilisis mauris. In nec leo quis arcu semper imperdiet a ac
                    libero. Sed ac aliquam lacus. Nullam luctus vestibulum ullamcorper. Quisque a magna viverra,
                    scelerisque dolor et, commodo eros.</p>

                <p>Donec orci ligula, pharetra quis tellus ut, venenatis volutpat orci. Interdum et malesuada fames ac
                    ante ipsum primis in faucibus. Vestibulum convallis pellentesque nulla vel sollicitudin. Aenean
                    dignissim tincidunt justo id luctus. Ut pretium porta nisl eget euismod. Etiam pharetra, orci non
                    porta ultrices, augue odio iaculis arcu, at rutrum tortor mauris nec odio. Duis nec nunc arcu.
                    Mauris et mattis lorem, eu pellentesque orci. Aliquam interdum bibendum elementum. Aliquam id mi
                    rutrum erat rhoncus vehicula sed ut mi. Curabitur ante tellus, aliquam nec purus vel, rhoncus dictum
                    ipsum. Praesent non magna mauris.</p>

                <p>Ut imperdiet turpis cursus massa sollicitudin, consequat gravida sapien malesuada. Curabitur non
                    diam nec libero ultrices consequat. Nullam dignissim faucibus odio, vitae ultrices augue. Interdum
                    et malesuada fames ac ante ipsum primis in faucibus. Integer euismod in ipsum at eleifend. Ut
                    viverra lectus ante, vel luctus ligula elementum nec. Curabitur sit amet velit eu neque iaculis
                    mollis.</p>

                <p>Proin consequat leo at molestie vestibulum. Curabitur ut sagittis massa, eget pellentesque eros.
                    Fusce euismod condimentum luctus. Aenean at tincidunt risus. Sed vehicula dui id dui tempus
                    porttitor. Quisque nec neque vel odio ornare maximus quis et sapien. Quisque mollis justo sed tempus
                    auctor. Ut ultrices odio et massa aliquet, ac eleifend quam luctus. Nulla elementum ac nisl ut
                    sodales. Suspendisse consequat nibh non ex convallis efficitur.</p>

                <p>Sed mi eros, euismod in pharetra vel, congue nec lacus. Integer eget aliquam metus. Proin at velit
                    augue. Ut arcu orci, egestas vel blandit sed, mattis malesuada augue. Fusce tincidunt ligula sed
                    dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
                    dictum molestie ex, eu cursus massa. Praesent eget nibh dapibus, auctor nisl eget, feugiat lectus.
                    Aliquam quis felis ultricies, gravida erat quis, tincidunt turpis. In id dui quis felis porttitor
                    ornare id id velit. Praesent et est erat. Morbi pellentesque sapien non libero ullamcorper sodales.
                    In velit ipsum, convallis sed nulla vel, commodo auctor massa. Duis tincidunt odio porta odio
                    pellentesque, at bibendum metus fringilla. Mauris cursus lacus auctor mauris laoreet gravida.</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card mb-3" style="max-width: 1000px;" data-bs-theme="dark" id="custom-card">
                    <button type="button" class="btn-close position-absolute top-0 end-0"
                            style="margin-top: 5px;margin-right: 3px;" aria-label="Close"
                            data-bs-dismiss="modal"></button>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class='slider-for' id='slider-for'></div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" id="order-name"></h5>
                                <p class="card-text" id="order-type-work"></p>
                                <p class="card-text" id="order-customer"></p>
                                <p class="card-text" id="order-work-objective"></p>
                                <p class=id="card-text" id="order-year"></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="slider-nav" id='slider-nav'></div>
                    <div class='btn-wrap'>
                        <button class="prev-btn"><i class='bx bx-left-arrow-circle'></i></button>
                        <button class="next-btn"><i class='bx bx-right-arrow-circle'></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="menu">
    <div class="card-container" id="card-container_id">
        <button type="button" style="margin: 10px 0 30px 20px" onclick="hideInfoPopup()" class="btn-close"
                data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <section class="card_info">
            <div class="card_info--content" id="services_id" data-bs-toggle="modal"
                 data-bs-target="#servicesModal">
                <div class="card" id="services_card_id">
                    <div class="card-body">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Заголовок карточки1</h5>
                                  <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Заголовок карточки2</h5>
                                  <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Заголовок карточки3</h5>
                                  <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Заголовок карточки4</h5>
                                  <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                                </div>
                              </div>
                            </div>
                          </div>

                    </div>
                </div>
            </div>
            <div class="card_info--content" id="experience_id" data-bs-toggle="modal"
                 data-bs-target="#experienceModal">
                <div class="card" id="experience_card_id">
                    <div class="card-body">
                        <div class="row">
                            {% for object in objects %}                              
                            <div class="col-md-6">
                                {{object.address}}
                                {{object.name}}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card_info--content" id="about-us_id" data-bs-toggle="modal"
                 data-bs-target="#about_usModal">
                <div class="card" id="about_us_card_id">
                    <div class="card-body">
                          
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Заголовок карточки1</h5>
                                  <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Заголовок карточки2</h5>
                                  <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Заголовок карточки3</h5>
                                  <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Заголовок карточки</h5>
                                  <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                </div>
            </div>
        </section>
    </div>

    <p style="margin: 40px 0 0 10px;" id="logo">
        <a data-bs-toggle="collapse" href="#collapseExampleMenu" role="button" aria-expanded="false"
           aria-controls="collapseExampleMenu">
            <img src="{% static 'img/favicon.png' %}" alt="..." class="logo--img">
        </a>
    </p>

    <div class="collapse menu_collapse" id="collapseExampleMenu" style="position: fixed; top: 0; left: 200px">
        <div class="card card-body rounded-bottom-3 rounded-top-0"
             style="width: 250px; text-align: center; opacity: 85%; height: 600px">
            <img src="{% static 'img/favicon.png' %}" class="card-img-top" alt="..."
                 style="max-height: 50px; max-width: 50px; display: inline-block; margin: auto;">
            <h3 class="card-title">Гео эксперт</h3>
            <h3 class="card-title">Инженерные изыскания</h3>
            <h3 class="card-title">Экологическое проектирование</h3>
            <div style="margin: 10px 0 10px 20px">
                <div class="social whatsapp">
                    <a href="#" target="_blank"><i class="fa fa-whatsapp fa-1x"></i></a>
                </div>
                <div class="social telegram">
                    <a href="#" target="_blank"><i class="fa fa-paper-plane fa-1x"></i></a>
                </div>

                <div class="social google-pluse">
                    <a href="#" target="_blank"><i class="fa fa-google-plus fa-1x"></i></a>
                </div>
                <div class="social order">
                    <a href="#" target="_blank" title="Отправить заявку?">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" color="black" fill="currentColor"
                             class="bi bi-journal-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <ul class="list-group list-group-flush border-0 card-button">
                <li class="list-group-item border-0" id="services_btn_id">Услуги
                </li>
                <li class="list-group-item border-0" id="experience_btn_id">Опыт
                </li>
                <li class="list-group-item border-0" id="about_us_btn_id">О нас
                </li>
            </ul>
            <a class="btn" style="margin-top: 20px; text-decoration: none;"
               data-bs-toggle="collapse" href="#collapseExampleMenu" role="button"
               aria-expanded="false"
               aria-controls="collapseExampleMenu">
                Свернуть...
            </a>
        </div>
    </div>

</div>
<div class="modal fade" id="servicesModal" style="z-index: 9999;" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Услуги</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="experienceModal" style="z-index: 9999;" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Опыт</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="about_usModal" style="z-index: 9999;" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">О нас</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="map" id="map"></div>

<script src="{% static 'js/index.js' %}"></script>
<script>
    const geoData = {
        "type": "FeatureCollection",
        "features": [
            {% for object in objects %}
                {
                    "type": "Feature",
                    "properties": {
                        "object_pk": "{{ object.pk }}",
                        "name": "{{ object.name }}",
                        "address": "{{ object.address }}",
                        "photo": "{{ object.images.first.image.url }}"
                    },
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": "{{ object.coords }}"
                    }
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]
    };
</script>

</body>

</html>