<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>

    <link href="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.css" rel="stylesheet"/>
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/latest/maptiler-sdk.umd.min.js"></script>

    <link rel='stylesheet' href="{% static 'css/index.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src='{% static "js/create_order.js" %}'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="http://code.jquery.com/ui/1.13.2/jquery-ui.js" ></script>
    <style>
        .ui-autocomplete {
            position: absolute; 
            cursor: default;
            z-index:3000!important;}  
    </style>
</head>

<body>
<div id="elements-group-top-right">
    {% if user.is_authenticated %}
    <div class="btn-group">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% if user.avatar %} {{ user.avatar.url }} {% else %} {% static 'img/default_avatar.png'%} {% endif %}" style='width:50px; height:50px;'>
            Добро пожаловать {{ request.user.username }}
        </button>
        <div class="dropdown-menu" style='width:275px;'>
            <div class='text-center'>
                {{ request.user.first_name }} {{ request.user.last_name }}
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'users:profile' %}">Личный кабинет</a>
            <a class="dropdown-item" href="{% url 'admin:index' %}">Админ панель</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a>
        </div>
      </div>
    {% else %}
        <a href="{% url 'users:login' %}" class="btn btn-light" id="button-login">
            <i class="bi bi-box-arrow-in-right"></i>
            Войти
        </a>
    {% endif %}
    <button class="btn btn-light" id="button-menu" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-list" style="margin: auto;"></i>
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>

<div id="elements-group-bottom-right">
    <div class="labels-wrapper">
        <div class="label-text">Гео эксперт</div>
        <div class="legal-information">
            <a href="" data-bs-toggle="modal" data-bs-target="#legal-informationModal">Юридические сведения</a> и <a
                href="" data-bs-toggle="modal" data-bs-target="#politicsModal">политика конфиденциальности</a>
        </div>
    </div>
    <button class="btn btn-light" id="button-feedback" data-bs-toggle="modal" data-bs-target="#feedbackModal">
        <i class="bi bi-chat" style="margin: auto;"></i>
    </button>
</div>

<div class="modal fade" id="feedbackModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Обратная связь</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="button-feedback-group">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="Звонок"><i
                            class="bi bi-telephone-fill"></i></button>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="WhatsApp"><i
                            class="bi bi-whatsapp"></i></button>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="Telegram"><i
                            class="bi bi-telegram"></i></button>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="Email"><i
                            class="bi bi-envelope-at-fill"></i></button>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip"
                            title="Создать заявку"><i class="bi bi-file-earmark-text-fill"></i></button>
                </div>
                <hr>
                <div class="card mb-3 border-0" style="box-shadow: none">
                    <div class="card-body" style='min-width:430px;'>
                        <div class="pt-4 pb-2">
                            <p class="text-center" style="font-size: 25px">Оставьте зявку</p>
                            <p class="text-center" style="font-size: 17px">Введите кадастровый номер или адрес
                                участка. <br>Есть выписка ЕГРН? Просто перетащите на это окно</p>
                        </div>
                        <div class="col-12 cadastal-container">
                            <div class="search-bar">
                                <form class="search-form  align-items-center" method="POST"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="input-group mb-3" id='form-div'>
                                        <input type="text" class="form-control" name="cadastral_number"
                                               placeholder="Введите кадастровый номер или адрес участка"
                                               id="id_cadastral_number" style="font-size: 15px">
                                        <p id="empty-message" style='margin-left:10px;'></p>
                                        <div class="input-group-append">
                                            <button type='submit'
                                                    style='cursor: pointer; position:absolute; right:10px;
                                                    width: 35px; height:35px; top:1px; color: white;
                                                    background-color: #012970; z-index:40; font-size: 14px;'
                                                    onclick='AddCadastralNumber();' id='btn' disabled
                                                    class='btn btn-outline-secondary custom-btn'>+
                                            </button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="file-drop-area">
                                        <span class="fake-btn">Выберите файл</span>
                                        <span class="file-msg">Или перетащите в это поле</span>
                                        <input class="file-input" id='file-input' name='files' type="file" multiple>

                                      </div>
                                      <div class="file-input-list" style='margin:15px 0px 0px 50px'></div>
                                    <br>
                                    <div style='display:flex; flex-direction: column; align-items:center; font-size: 15px'
                                         id='test33'>
                                        <div class='cadastal_numbers' id='cadastal_numbers'>
                                            <div style="margin-left: 25px">
                                                <button type="submit"
                                                        style='background-color: #012970; margin-top:40px; cursor: pointer'
                                                        id='order-btn' disabled class='btn btn-primary btn-lg'>
                                                    Создать
                                                    заявку
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="legal-informationModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Юридические сведения</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit vulputate suscipit. Ut eu
                    finibus urna. Cras aliquam dui eget lectus commodo eleifend. Aenean lobortis, est id mattis finibus,
                    elit enim sagittis massa, accumsan rutrum neque eros ut augue. Nunc auctor mollis nibh, eu hendrerit
                    mauris rutrum quis. Donec aliquet dui non ante faucibus, a pretium sapien vehicula. Orci varius
                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus semper neque
                    velit, a molestie nulla dictum accumsan. Quisque non blandit ligula. Proin mattis purus eget egestas
                    lobortis. Nam ut suscipit sapien. Curabitur elit lorem, convallis et efficitur quis, ornare sit amet
                    tellus.</p>

                <p>In diam metus, venenatis a porta ut, eleifend at lacus. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vivamus id condimentum nibh, et tempus erat. Praesent purus nisl, auctor sed diam
                    non, euismod rutrum tortor. Vivamus ullamcorper urna vitae viverra imperdiet. Pellentesque hendrerit
                    elit at laoreet lacinia. In consequat eu nulla sit amet egestas. Maecenas non sodales ipsum. Integer
                    semper sapien commodo ex porttitor laoreet. Aenean lacinia nisi et luctus sagittis. Sed ut est
                    volutpat, viverra purus sit amet, facilisis mauris. In nec leo quis arcu semper imperdiet a ac
                    libero. Sed ac aliquam lacus. Nullam luctus vestibulum ullamcorper. Quisque a magna viverra,
                    scelerisque dolor et, commodo eros.</p>

                <p>Donec orci ligula, pharetra quis tellus ut, venenatis volutpat orci. Interdum et malesuada fames ac
                    ante ipsum primis in faucibus. Vestibulum convallis pellentesque nulla vel sollicitudin. Aenean
                    dignissim tincidunt justo id luctus. Ut pretium porta nisl eget euismod. Etiam pharetra, orci non
                    porta ultrices, augue odio iaculis arcu, at rutrum tortor mauris nec odio. Duis nec nunc arcu.
                    Mauris et mattis lorem, eu pellentesque orci. Aliquam interdum bibendum elementum. Aliquam id mi
                    rutrum erat rhoncus vehicula sed ut mi. Curabitur ante tellus, aliquam nec purus vel, rhoncus dictum
                    ipsum. Praesent non magna mauris.</p>

                <p>Ut imperdiet turpis cursus massa sollicitudin, consequat gravida sapien malesuada. Curabitur non
                    diam nec libero ultrices consequat. Nullam dignissim faucibus odio, vitae ultrices augue. Interdum
                    et malesuada fames ac ante ipsum primis in faucibus. Integer euismod in ipsum at eleifend. Ut
                    viverra lectus ante, vel luctus ligula elementum nec. Curabitur sit amet velit eu neque iaculis
                    mollis.</p>

                <p>Proin consequat leo at molestie vestibulum. Curabitur ut sagittis massa, eget pellentesque eros.
                    Fusce euismod condimentum luctus. Aenean at tincidunt risus. Sed vehicula dui id dui tempus
                    porttitor. Quisque nec neque vel odio ornare maximus quis et sapien. Quisque mollis justo sed tempus
                    auctor. Ut ultrices odio et massa aliquet, ac eleifend quam luctus. Nulla elementum ac nisl ut
                    sodales. Suspendisse consequat nibh non ex convallis efficitur.</p>

                <p>Sed mi eros, euismod in pharetra vel, congue nec lacus. Integer eget aliquam metus. Proin at velit
                    augue. Ut arcu orci, egestas vel blandit sed, mattis malesuada augue. Fusce tincidunt ligula sed
                    dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
                    dictum molestie ex, eu cursus massa. Praesent eget nibh dapibus, auctor nisl eget, feugiat lectus.
                    Aliquam quis felis ultricies, gravida erat quis, tincidunt turpis. In id dui quis felis porttitor
                    ornare id id velit. Praesent et est erat. Morbi pellentesque sapien non libero ullamcorper sodales.
                    In velit ipsum, convallis sed nulla vel, commodo auctor massa. Duis tincidunt odio porta odio
                    pellentesque, at bibendum metus fringilla. Mauris cursus lacus auctor mauris laoreet gravida.</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="politicsModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Политика конфиденциальности</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit vulputate suscipit. Ut eu
                    finibus urna. Cras aliquam dui eget lectus commodo eleifend. Aenean lobortis, est id mattis finibus,
                    elit enim sagittis massa, accumsan rutrum neque eros ut augue. Nunc auctor mollis nibh, eu hendrerit
                    mauris rutrum quis. Donec aliquet dui non ante faucibus, a pretium sapien vehicula. Orci varius
                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus semper neque
                    velit, a molestie nulla dictum accumsan. Quisque non blandit ligula. Proin mattis purus eget egestas
                    lobortis. Nam ut suscipit sapien. Curabitur elit lorem, convallis et efficitur quis, ornare sit amet
                    tellus.</p>

                <p>In diam metus, venenatis a porta ut, eleifend at lacus. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vivamus id condimentum nibh, et tempus erat. Praesent purus nisl, auctor sed diam
                    non, euismod rutrum tortor. Vivamus ullamcorper urna vitae viverra imperdiet. Pellentesque hendrerit
                    elit at laoreet lacinia. In consequat eu nulla sit amet egestas. Maecenas non sodales ipsum. Integer
                    semper sapien commodo ex porttitor laoreet. Aenean lacinia nisi et luctus sagittis. Sed ut est
                    volutpat, viverra purus sit amet, facilisis mauris. In nec leo quis arcu semper imperdiet a ac
                    libero. Sed ac aliquam lacus. Nullam luctus vestibulum ullamcorper. Quisque a magna viverra,
                    scelerisque dolor et, commodo eros.</p>

                <p>Donec orci ligula, pharetra quis tellus ut, venenatis volutpat orci. Interdum et malesuada fames ac
                    ante ipsum primis in faucibus. Vestibulum convallis pellentesque nulla vel sollicitudin. Aenean
                    dignissim tincidunt justo id luctus. Ut pretium porta nisl eget euismod. Etiam pharetra, orci non
                    porta ultrices, augue odio iaculis arcu, at rutrum tortor mauris nec odio. Duis nec nunc arcu.
                    Mauris et mattis lorem, eu pellentesque orci. Aliquam interdum bibendum elementum. Aliquam id mi
                    rutrum erat rhoncus vehicula sed ut mi. Curabitur ante tellus, aliquam nec purus vel, rhoncus dictum
                    ipsum. Praesent non magna mauris.</p>

                <p>Ut imperdiet turpis cursus massa sollicitudin, consequat gravida sapien malesuada. Curabitur non
                    diam nec libero ultrices consequat. Nullam dignissim faucibus odio, vitae ultrices augue. Interdum
                    et malesuada fames ac ante ipsum primis in faucibus. Integer euismod in ipsum at eleifend. Ut
                    viverra lectus ante, vel luctus ligula elementum nec. Curabitur sit amet velit eu neque iaculis
                    mollis.</p>

                <p>Proin consequat leo at molestie vestibulum. Curabitur ut sagittis massa, eget pellentesque eros.
                    Fusce euismod condimentum luctus. Aenean at tincidunt risus. Sed vehicula dui id dui tempus
                    porttitor. Quisque nec neque vel odio ornare maximus quis et sapien. Quisque mollis justo sed tempus
                    auctor. Ut ultrices odio et massa aliquet, ac eleifend quam luctus. Nulla elementum ac nisl ut
                    sodales. Suspendisse consequat nibh non ex convallis efficitur.</p>

                <p>Sed mi eros, euismod in pharetra vel, congue nec lacus. Integer eget aliquam metus. Proin at velit
                    augue. Ut arcu orci, egestas vel blandit sed, mattis malesuada augue. Fusce tincidunt ligula sed
                    dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
                    dictum molestie ex, eu cursus massa. Praesent eget nibh dapibus, auctor nisl eget, feugiat lectus.
                    Aliquam quis felis ultricies, gravida erat quis, tincidunt turpis. In id dui quis felis porttitor
                    ornare id id velit. Praesent et est erat. Morbi pellentesque sapien non libero ullamcorper sodales.
                    In velit ipsum, convallis sed nulla vel, commodo auctor massa. Duis tincidunt odio porta odio
                    pellentesque, at bibendum metus fringilla. Mauris cursus lacus auctor mauris laoreet gravida.</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card mb-3" style="max-width: 1000px;" data-bs-theme="dark" id="custom-card">
                    <button type="button" class="btn-close position-absolute top-0 end-0"
                            style="margin-top: 5px;margin-right: 3px;" aria-label="Close"
                            data-bs-dismiss="modal"></button>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class='slider-for' id='slider-for'></div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" id="order-name"></h5>
                                <p class="card-text" id="order-type-work"></p>
                                <p class="card-text" id="order-customer"></p>
                                <p class="card-text" id="order-work-objective"></p>
                                <p class="card-text" id="order-year"></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="slider-nav" id='slider-nav'></div>
                    <div class='btn-wrap'>
                        <button class="prev-btn"><i class='bx bx-left-arrow-circle'></i></button>
                        <button class="next-btn"><i class='bx bx-right-arrow-circle'></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="menu">
    <div class="card-container" id="card-container_id">
        <button type="button" style="margin: 10px 0 30px 20px; float: left;" onclick="hideInfoPopup()" class="btn-close"
                data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <section class="card_info">


            <div class="card_info--content" id="services_id" >
           <div class="card border-0" id="services_card_id">
            <h3 style="text-align: center">Услуги</h3>
               <div class="card-body">
                   <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="card border border-0 mb-3 card_scale card_adaptive" style="max-width: 540px;" data-bs-toggle="modal"
                    data-bs-target="#servicesModal_1">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{% static 'img/no_photo.jpg' %}" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Услуга 1</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                       <div class="col">
                         <div class="card border border-0 card_scale card_adaptive" data-bs-toggle="modal"
                         data-bs-target="#servicesModal_2">
                           <div class="card-body">
                             <h5 class="card-title">Услуга 2</h5>
                             <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                           </div>
                         </div>
                       </div>
                       <div class="col">
                         <div class="card border border-0 card_scale card_adaptive" data-bs-toggle="modal"
                         data-bs-target="#servicesModal_3">
                           <div class="card-body">
                             <h5 class="card-title">Услуга 3</h5>
                             <p class="card-text">Fusce tincidunt ligula sed
                                dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
                                dictum molestie ex, eu cursus massa. Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</p>
                           </div>
                         </div>
                       </div>
                       <div class="card border border-0 mb-3 card_scale card_adaptive" style="max-width: 540px;" data-bs-toggle="modal"
                       data-bs-target="#servicesModal_4">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="{% static 'img/no_photo.jpg' %}" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Услуга 4</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                     </div>
               </div>
           </div>
       </div>

       <div class="card_info--content" id="experience_id" data-bs-toggle="modal"
       data-bs-target="#experienceModal">
      <div class="card border-0" id="experience_card_id">
        <h3 style="text-align: center">Опыт</h3>
          <div class="card-body" style="max-height: 500px; overflow-y: auto;">
              <div class="row" style="text-align: center;">
                  {% for object in objects %}       
                  <div class="card border border-0 card-object card_scale" style="" id="order-detail-link" data-bs-toggle="modal" data-bs-target="#detailsModal" data-pk="{{object.pk}}">
                      <div class="card-body">
                        <h5 class="card-title">{{object.name}}</h5>
                        <p class="card-text">{{object.address}}.</p>
                      </div>
                  </div> 
                  {% endfor %}
              </div>
          </div>
          <div class="mouse" id="mouse"></div>
      </div>
  </div>

  <div class="card_info--content" id="about-us_id" data-bs-toggle="modal"
  data-bs-target="#about_usModal">
 <div class="card border-0" id="about_us_card_id">
    <h3 style="text-align: center">О нас</h3>
     <div class="card-body">
         <div class="row row-cols-1 row-cols-md-2 g-4">
             <div class="col">
               <div class="card border border-0 card_scale">
                <img src="{% static 'img/no_photo.jpg' %}" class="card-img-top" style="width: 150px; height: 150px;" alt="...">
                <div class="card-body">
                     <h5 class="card-title">История</h5>
                   <p class="card-text">Fusce tincidunt ligula sed
                    dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
                    dictum molestie ex, eu cursus massa. Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                 </div>
               </div>
             </div>
             <div class="col">
               <div class="card border border-0 card_scale">
                 <div class="card-body">
                   <h5 class="card-title">Лицензии</h5>
                   <p class="card-text">Fusce tincidunt ligula sed
                    dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
                    dictum molestie ex, eu cursus massa. Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                 </div>
               </div>
             </div>
             <div class="col">
               <div class="card border border-0 card_scale">
                 <div class="card-body">
                   <h5 class="card-title">Контакты</h5>
                   <p class="card-text">Fusce tincidunt ligula sed
                    dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
                    dictum molestie ex, eu cursus massa. Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</p>
                 </div>
               </div>
             </div>
             <div class="col">
               <div class="card border border-0 card_scale">
                 <img src="{% static 'img/no_photo.jpg' %}" class="card-img-top" style="width: 150px; height: 150px;" alt="...">
                 <div class="card-body">
                   <h5 class="card-title">Реквизиты</h5>
                   <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                 </div>
               </div>
             </div>
           </div>
 </div>
</div>


        </section>
    </div>

    <p style="margin: 40px 0 0 10px;" id="logo">
        <a data-bs-toggle="collapse" href="#collapseExampleMenu" role="button" aria-expanded="false"
           aria-controls="collapseExampleMenu">
            <img src="{% static 'img/favicon.png' %}" alt="..." class="logo--img">
        </a>
    </p>

    <div class="collapse menu_collapse" id="collapseExampleMenu" style="position: fixed; top: 0; left: 200px">
        <div class="card card-body rounded-bottom-3 rounded-top-0"
             style="width: 250px; text-align: center; height: 700px">
            <img src="{% static 'img/favicon.png' %}" class="card-img-top" alt="..."
                 style="max-height: 50px; max-width: 50px; display: inline-block; margin: auto;">
            <h3 class="card-title">Гео эксперт</h3>
            <h3 class="card-title">Инженерные изыскания</h3>
            <h3 class="card-title">Экологическое проектирование</h3>
            <div style="margin: 10px 0 10px 1px">
                <div class="social call">
                    <a href="#" target="_blank">            <i
                        class="bi bi-telephone-fill"></i></i></a>
                </div>
                <div class="social whatsapp">
                    <a href="#" target="_blank"><i class="fa fa-whatsapp fa-1x"></i></a>
                </div>
                <div class="social telegram">
                    <a href="#" target="_blank"><i class="fa fa-paper-plane fa-1x"></i></a>
                </div>

                <div class="social e-mail">
                    <a href="#" target="_blank"><i
                        class="bi bi-envelope-at-fill"></i></a>
                </div>
                <div class="social order">
                    <a href="#" target="_blank" title="Отправить заявку?">
                        <i class="bi bi-file-earmark-text-fill"></i>
                    </a>
                </div>
            </div>

            <ul class="list-group list-group-flush border-0 card-button">
                <li class="list-group-item border-0" id="services_btn_id" style="cursor: pointer">Услуги
                </li>
                <li class="list-group-item border-0" id="experience_btn_id" style="cursor: pointer">Опыт
                </li>
                <li class="list-group-item border-0" id="about_us_btn_id" style="cursor: pointer">О нас
                </li>
            </ul>
            <a class="btn" style="margin-top: 20px; text-decoration: none;"
               data-bs-toggle="collapse" href="#collapseExampleMenu" role="button"
               aria-expanded="false"
               aria-controls="collapseExampleMenu"
               onclick="hideInfoPopup()">
                Свернуть...
            </a>
        </div>
    </div>
</div>


<div class="modal fade opacity-100" id="servicesModal_1" style="z-index: 9999;" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" style="height: 800px;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Услуга 1</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="card mb-3 modal_adaptive" style="max-width: auto">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{% static 'img/no_photo.jpg' %}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit vulputate suscipit. Ut eu
                            finibus urna. Cras aliquam dui eget lectus commodo eleifend. Aenean lobortis, est id mattis finibus,
                            elit enim sagittis massa, accumsan rutrum neque eros ut augue. Nunc auctor mollis nibh, eu hendrerit
                            mauris rutrum quis. Donec aliquet dui non ante faucibus, a pretium sapien vehicula. Orci varius
                            natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus semper neque
                            velit, a molestie nulla dictum accumsan. Quisque non blandit ligula. Proin mattis purus eget egestas
                            lobortis. Nam ut suscipit sapien. Curabitur elit lorem, convallis et efficitur quis, ornare sit amet
                            tellus. This is a wider card with supporting text below as a natural lead-in to additional content. 
                            This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade opacity-100" id="servicesModal_2" style="z-index: 9999;" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" style="height: 800px;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Услуга 2</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

...<p>Sed mi eros, euismod in pharetra vel, congue nec lacus. Integer eget aliquam metus. Proin at velit
    augue. Ut arcu orci, egestas vel blandit sed, mattis malesuada augue. Fusce tincidunt ligula sed
    dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
    dictum molestie ex, eu cursus massa. Praesent eget nibh dapibus, auctor nisl eget, feugiat lectus.
    Aliquam quis felis ultricies, gravida erat quis, tincidunt turpis. In id dui quis felis porttitor
    ornare id id velit. Praesent et est erat. Morbi pellentesque sapien non libero ullamcorper sodales.
    In velit ipsum, convallis sed nulla vel, commodo auctor massa. Duis tincidunt odio porta odio
    pellentesque, at bibendum metus fringilla. Mauris cursus lacus auctor mauris laoreet gravida.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade opacity-100" id="servicesModal_3" style="z-index: 9999;" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" style="height: 800px;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Услуга 3</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade opacity-100" id="servicesModal_4" style="z-index: 9999;" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" style="height: 800px;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Услуга 4</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade opacity-100" id="about_usModal" style="z-index: 9999;" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="height: 800px;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">О нас</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                      <div id="list-example" class="list-group">
                        <a class="list-group-item list-group-item-action" href="#list-item-1">История</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-2">Лицензии</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-3">Контакты</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-4">Реквизиты</a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                        <h4 id="list-item-1">История</h4>
                        <p>Sed mi eros, euismod in pharetra vel, congue nec lacus. Integer eget aliquam metus. Proin at velit
                            augue. Ut arcu orci, egestas vel blandit sed, mattis malesuada augue. Fusce tincidunt ligula sed
                            dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
                            dictum molestie ex, eu cursus massa. Praesent eget nibh dapibus, auctor nisl eget, feugiat lectus.
                            Aliquam quis felis ultricies, gravida erat quis, tincidunt turpis. In id dui quis felis porttitor
                            ornare id id velit.Fusce tincidunt ligula sed
                            dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
                            dictum molestie ex, eu cursus massa.</p>
                        <h4 id="list-item-2">Лицензии</h4>
                        <p>Sed mi eros, euismod in pharetra vel, congue nec lacus. Integer eget aliquam metus. Proin at velit
                            augue. Ut arcu orci, egestas vel blandit sed, mattis malesuada augue. Fusce tincidunt ligula sed
                            dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
                            dictum molestie ex, eu cursus massa. Praesent eget nibh dapibus, auctor nisl eget, feugiat lectus.
                            Aliquam quis felis ultricies, gravida erat quis, tincidunt turpis. In id dui quis felis porttitor
                            ornare id id velit.</p>
                        <h4 id="list-item-3">Контакты</h4>
                        <p>Sed mi eros, euismod in pharetra vel, congue nec lacus. Integer eget aliquam metus. Proin at velit
                    augue. Ut arcu orci, egestas vel blandit sed, mattis malesuada augue. Fusce tincidunt ligula sed
                    dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
                    dictum molestie ex, eu cursus massa. Praesent eget nibh dapibus, auctor nisl eget, feugiat lectus.
                    Aliquam quis felis ultricies, gravida erat quis, tincidunt turpis. In id dui quis felis porttitor
                    ornare id id velit.</p>
                        <h4 id="list-item-4">Реквизиты</h4>
                        <p>Sed mi eros, euismod in pharetra vel, congue nec lacus. Integer eget aliquam metus. Proin at velit
                    augue. Ut arcu orci, egestas vel blandit sed, mattis malesuada augue. Fusce tincidunt ligula sed
                    dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
                    dictum molestie ex, eu cursus massa. Praesent eget nibh dapibus, auctor nisl eget, feugiat lectus.
                    Aliquam quis felis ultricies, gravida erat quis, tincidunt turpis. In id dui quis felis porttitor
                    ornare id id velit.Fusce tincidunt ligula sed
                    dolor faucibus ultrices. Ut risus velit, imperdiet vitae venenatis sit amet, cursus nec dui. Nam
                    dictum molestie ex, eu cursus massa.</p>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="map" id="map"></div>

<script src="{% static 'js/index.js' %}"></script>

<script>
    const geoData = {
        "type": "FeatureCollection",
        "features": [
            {% for object in objects %}
                {
                    "type": "Feature",
                    "properties": {
                        "object_pk": "{{ object.pk }}",
                        "name": "{{ object.name }}",
                        "address": "{{ object.address }}",
                        "photo": "{{ object.images.first.image.url }}"
                    },
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": "{{ object.coords }}"
                    }
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]
    };
</script>
<script>
    $(document).ready(function () {
        $('#id_cadastral_number').on('input', function () {
            cadastral = document.getElementById('id_cadastral_number')
            button = document.getElementById('btn');
            error = document.getElementById('input__error')
            if (!isNaN(cadastral.value) || cadastral.value.includes(":")) {
                $.ajax({
                    data: $(this).serialize(),
                    url: "{% url 'expert:ajax_validate_cadastral_number' %}",
                    success: function (response) {
                        if (response.is_valid == true || cadastral.value == '') {
                            button.disabled = false;
                            /* setTimeout(() => {
                                error.style.cssText = 'display:none; padding-bottom:10px;';
                            }, 1500); */
                        } else {
                            button.disabled = true;
                            setTimeout(() => {
                                showMessageModal("error", 'Проверьте правильность введенных данных');
                            }, 2000);
                        }
                    },
                    error: function (response) {
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            }
            if (isNaN(cadastral.value)) {
                $('#btn').css('display', 'none')
                $(function () {
                    let input = document.getElementById('id_cadastral_number')
                    $("#id_cadastral_number").autocomplete({
                        source: "{% url 'expert:region_autocomplete' %}",
                        minLength: 2,
                        classes: {
                            "ui-autocomplete": "highlight"
                        },
                        select: function (event, ui) {
                            $('#id_cadastral_number').attr('id', 'wait-area')
                            let selected_value = ui.item.value
                            document.getElementById('btn').style.cssText = 'display:none;'
                            ui.item.value += ', '
                            if (ui.item.value) {
                                $.ajax({
                                    url: "{% url 'expert:area_autocomplete' %}",
                                    data: {'region': selected_value},
                                    success: function (response) {
                                        $("#wait-area").autocomplete({
                                            source: response,
                                            select: function (event, ui) {
                                                $('#wait-area').attr('id', 'wait-city')
                                                ui.item.value += ', '
                                                if (ui.item.value) {
                                                    $.ajax({
                                                        url: "{% url 'expert:city_autocomplete' %}",
                                                        data: {"region": ui.item.value},
                                                        success: function (response) {
                                                            $('#wait-city').autocomplete({
                                                                source: response,
                                                                minLength: 2,
                                                                select: function (response) {
                                                                    document.getElementById('wait-city').disabled = false;
                                                                    $("#wait-city").attr('name', 'address');
                                                                    document.getElementById('order-btn').disabled = false;
                                                                }
                                                            })
                                                        }
                                                    })
                                                }

                                            }
                                        })
                                    }
                                })
                            }
                        },
                        response: function (event, ui) {
                            if (ui.content.length === 0) {
                                $("#empty-message").text("Не найдено");
                            } else {
                                $("#empty-message").empty();
                            }
                        }
                    })
                });
            }
        });
    });
</script>

</body>

</html>