.prev-btn, .next-btn {
    position:absolute; 
    bottom:40px; 
    background-color:lightgray; 
    border-radius:50%;
    width:50px; 
    height:50px; 
    opacity: .4;   
    text-align: center;
    color:black; 
    font-weight:900; 
    font-size: 35px;
}

.next-btn {
    right: 0px;
}

#main-image {
    filter: blur(0) !important;
}