@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#elements-group-top-right {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    margin: 20px 20px 20px 0;
}

#button-login {
    border-radius: 40px;
    font-size: 20px;
    margin-right: 10px;
}

#button-menu {
    border-radius: 50%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.labels-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 10px;
}

.label-text, .legal-information {
    color: #fff;
    text-align: center;
}

.label-text {
    font-size: 24px;
    margin-bottom: 5px;
}

.legal-information {
    font-size: 18px;
}

.legal-information a {
    color: white;
    text-decoration: none;
}

.legal-information a:hover {
    color: gray;
}

.legal-information a:active {
    color: ghostwhite;
}

#elements-group-bottom-right {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    margin: 20px 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#button-feedback {
    border-radius: 50%;
    font-size: 20px;
    margin-left: 10px;
}

#button-feedback {
    border-radius: 40px;
    font-size: 20px;
    margin-left: 10px;
}

.button-feedback-group button {
    border-radius: 50%;
    border: 0;
    font-size: 40px;
    margin: 10px
}

.modal.fade.show {
    opacity: 0.9;
}

.social a {
    text-align: center;
    width: 38px;
    height: 38px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}

.google-pluse a:hover {
    background: #DD4B39;
    color: #fff;
}

.telegram a:hover {
    background: #249bd7;
    color: #fff;
}

.whatsapp a:hover {
    background: #50b154;
    color: #fff;
}

.weibo a:hover {
    background: #d52b2b;
    color: #fff;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.card-title {
    font-size: 17px;
}

.card-container {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow-x: scroll;
    left: 200px;
    top: 0;
    position: relative;
    padding-bottom: 20px;
    z-index: 9999;
}

.card_info {
    background-color: #fff;
    min-height: 700px;
    display: flex;
    overflow-x: auto;
}

.card_info--content {
    margin: 10px;
}

/*.card_info::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/
/*#detailsModal {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

#detailsModal .modal-content {
    background-color: transparent;
    border-color: transparent;
}

#detailsModal .modal-body {
    margin: auto;
    max-width: 100%;
}

#detailsModal .slider-nav {
    filter: blur(2px);
}

#detailsModal .prev-btn, .next-btn {
    position:absolute;
    bottom:40px;
    background-color:lightgray;
    border-radius:50%;
    width:50px;
    height:50px;
    opacity: .4;
    text-align: center;
    color:black;
    font-weight:900;
    font-size: 35px;
}

#detailsModal .next-btn {
    right: 0px;
}
