@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#elements-group-top-right {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    margin: 20px 20px 20px 0;
}

#button-login {
    border-radius: 40px;
    font-size: 20px;
    margin-right: 10px;
}

#button-menu {
    border-radius: 50%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.labels-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 10px;
    z-index: 1;
}

.label-text,
.legal-information {
    color: #fff;
    text-align: center;
}

.label-text {
    font-size: 24px;
    margin-bottom: 5px;
}

.legal-information {
    font-size: 18px;
}

.legal-information a {
    color: white;
    text-decoration: none;
}

.legal-information a:hover {
    color: gray;
}

.legal-information a:active {
    color: ghostwhite;
}

#elements-group-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#button-feedback {
    border-radius: 50%;
    border-color: black;
    font-size: 20px;
    margin-left: 10px;
    z-index: 3;
}


.button-feedback-group button {
    border-radius: 50%;
    border: 0;
    font-size: 40px;
    margin: 10px
}

#link-whatsapp {
    border-radius: 50%;
    border: 0;
    font-size: 40px;
    margin: 10px
}

#link-telegramm {
    border-radius: 50%;
    border: 0;
    font-size: 40px;
    margin: 10px
}

.button-feedback-group link-whatsapp {
    border-radius: 50%;
    border: 0;
    font-size: 40px;
    margin: 10px
}

.modal.fade.show {
    opacity: 0.9;
}

.logo--img {
    transition: all 0.3s ease-in-out;
}

.logo--img:hover {
    transform: scale(1.3);
    /* увеличиваем размер кнопки на 20% */
}

@media screen and (max-width: 768px) {
    .menu_collapse {
        left: 0 !important;
    }
}

/* @media screen and (max-width: 768px) {
    .card_info {
        width: 380px !important;
    }
} */

@media screen and (max-width: 900px) {
    .card-container {
        margin-left: 0 !important;
    }
}

/* @media screen and (max-width: 768px) {
    .card_adaptive {
        text-align: center;
    }
} */

@media screen and (max-width: 768px) {
    .modal_adaptive {
        max-height: 650px;
        overflow-y: scroll;
    }

    .card_adaptive {
        text-align: center;
    }

    .card_info {
        width: 380px !important;
    }

    .menu_collapse {
        left: 0 !important;
    }
}

@media screen and (max-width: 500px) {
    .btn-group {
        display: flex !important;
        flex-direction: column !important;
    }

    #button-menu {
        margin-left: 250px;
        margin-top: 5px;
    }
}

.social a {
    text-align: center;
    width: 33px;
    height: 33px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 0 10px 10px 0;
    padding: 4px;
    color: #000;
}

.e-mail a:hover {
    background: #DD4B39;
    color: #fff;
}

.telegram a:hover {
    background: #249bd7;
    color: #fff;
}

.call a:hover {
    background: yellow;
    color: #fff;
}

.whatsapp a:hover {
    background: #50b154;
    color: #fff;
}

.order a:hover {
    background: #1C5CA4;
    color: #fff;
}

.menu {
    position: absolute;
    z-index: 1;
}

.card-title {
    font-size: 17px;
}

.card-container {
    display: none;
    background-color: #fff;
    margin-left: 450px;
    position: relative;
    z-index: 9999;
    width: auto;
    height: 700px;
    overflow-x: scroll;

}

.card_info {
    margin-top: 40px;
}

.card_info--content {
    cursor: pointer;
    width: 100%;
    min-width: 300px;
}

.card_scale:hover {
    transform: scale(1.05);
}

.card_scale {
    transition: all 0.2s ease-in-out;
}


.card-container::-webkit-scrollbar {
    display: none;
}

.card-body::-webkit-scrollbar {
    display: none;
}

#detailsModal .modal-content {
    background-color: transparent;
    border-color: transparent;
}

#detailsModal .modal-body {
    margin: auto;
    max-width: 100%;
}

#detailsModal .prev-btn,
.next-btn {
    position: absolute;
    bottom: 40px;
    background-color: lightgray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: .4;
    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 35px;
}

#detailsModal .next-btn {
    right: 0;
}

#main-image {
    filter: blur(0) !important;
}

#main-image {
    filter: blur(0) !important;
}

.slider-nav .slick-slide:not(.slick-current) img {
    filter: blur(5px);
}

.blur-slider .slick-slide:not(.slick-current) img {
    filter: blur(5px);
}


.card-object {
    transition: border-color 0.2s ease-in-out;
}

.card-object:hover {
    border-color: gray;
}

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 450px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    transition: 0.2s;
    margin: 10px 0 0 15px;
}

.fake-btn {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.file-msg {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}


input[name='cadastral_numbers']:invalid {
    border: 1px solid red !important;
}

.tooltip-inner {
    background-color: #6c757d;
}

.tooltip .tooltip-inner a {
  color: #c9c9c9;
  text-decoration: none;
}

.tooltip .tooltip-inner a:hover,
.tooltip .tooltip-inner a:focus {
  color: #000000;
}

.offcanvas .offcanvas-end {
z-index: 9999;
}

.mouse {
    width: 40px;
    height: 70px;
    border: 2px solid #337AB7;
    border-radius: 60px;
    position: relative;
    margin: 20px auto;
    box-sizing: border-box;
}


.mouse::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #337AB7;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}

