@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#elements-group-top-right {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    margin: 20px 20px 20px 0;
}

#button-login {
    border-radius: 40px;
    font-size: 20px;
    margin-right: 10px;
}

#button-menu {
    border-radius: 50%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.labels-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 10px;
}

.label-text, .legal-information {
    color: #fff;
    text-align: center;
}

.label-text {
    font-size: 24px;
    margin-bottom: 5px;
}

.legal-information {
    font-size: 18px;
}

.legal-information a {
    color: white;
    text-decoration: none;
}

.legal-information a:hover {
    color: gray;
}

.legal-information a:active {
    color: ghostwhite;
}

#elements-group-bottom-right {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    margin: 20px 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#button-feedback {
    border-radius: 50%;
    font-size: 20px;
    margin-left: 10px;
}

#button-feedback {
    border-radius: 40px;
    font-size: 20px;
    margin-left: 10px;
}

.button-feedback-group button {
    border-radius: 50%;
    border: 0;
    font-size: 40px;
    margin: 10px
}

.modal.fade.show {
      opacity: 0.9;
}

.logo--img {
    transition: all 0.3s ease-in-out;
}

.logo--img:hover {
    transform: scale(1.3); /* увеличиваем размер кнопки на 20% */
}

@media screen and (max-width: 768px) {
  .menu_collapse {
    left: 0!important;
  }
}
@media screen and (max-width: 768px) {
  .card_info {
      width: 400px!important;
  }
}
@media screen and (max-width: 768px) {
  .card-container {
    margin-left: 0!important;
  }
}

.social a {
    text-align: center;
    width: 38px;
    height: 38px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}

.google-pluse a:hover {
    background: #DD4B39;
    color: #fff;
}

.telegram a:hover {
    background: #249bd7;
    color: #fff;
}

.whatsapp a:hover {
    background: #50b154;
    color: #fff;
}

.order a:hover {
    background: #d52b2b;
    color: #fff;
}

.menu {
    position: absolute;
    z-index: 2;
}

.card-title {
    font-size: 17px;
}

.card-container {
    display: none;
    background-color: #fff;
    margin-left: 200px;
    position: relative;
    z-index: 9999;
    max-width: 1700px;
    height: 800px;
}

.card_info {
    background-color: #fff;
    display: flex;
    overflow-x: auto;
    height: 100%;
    overflow-y: hidden;
}

.card_info--content {
    margin: 10px;
    cursor: pointer;
    min-width: 600px;
    margin-top: 100px;
    margin-left: 50px;
    top: 0;
    bottom: 0;
}

.for_favorite_card {
    transform: scale(1.1);
}

#detailsModal .modal-content {
    background-color: transparent;
    border-color: transparent;
}

#detailsModal .modal-body {
    margin: auto;
    max-width: 100%;
}

#detailsModal .prev-btn, .next-btn {
    position: absolute;
    bottom: 40px;
    background-color: lightgray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: .4;
    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 35px;
}

#detailsModal .next-btn {
    right: 0;
}

#main-image {
    filter: blur(0) !important;
}

.card_info--content:hover {
    transform: scale(1.1);
}

.card_info--content {
    transition: all 0.2s ease-in-out;
}

