*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body,
html,
#map {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

#sidebar {
    width: 250px;
    background: #fff;
}

.sidebar-el {
    padding: 5px 10px;
    background: #fff;
    cursor: pointer;
}

.sidebar-el:hover {
    background: #f1f1f1;
}

.marker-position {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 10px;
    font-weight: 700;
    background-color: #fff;
    font-weight: 400;
}

input:invalid {
    border: red solid 3px;
}


input:invalid button {
    pointer-events: none;
}

#myDiv {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.color {
    display: block;
    width: 20px;
    height: 20px;
}

.pallete {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.x-button {
    position: absolute;
    top: 2px;
    right: 8px;
    cursor: pointer;
}

.custom-img-class {
    width: 20px;
    height: 20px;
}

.custom-button {
    background-color: #012970;
    color: white;
    /* position: absolute;
    right:80px; */
}

.custom-button:hover {
    background-color: #012970;
}

.bi-plus-square, .bi-pencil-square, .bi-list, .bi-upload {
    font-weight: bold;
    font-size: 20px;
}

.card-spacing {
  margin-bottom: 20px;
}

/*.offcanvas {*/
/*  background-color: transparent;*/
/*}*/
