*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body,
html,
#map {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

#sidebar {
    width: 250px;
    background: #fff;
}

.sidebar-el {
    padding: 5px 10px;
    background: #fff;
    cursor: pointer;
}

.sidebar-el:hover {
    background: #f1f1f1;
}

.marker-position {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 10px;
    font-weight: 700;
    background-color: #fff;
    font-weight: 400;
}

input:invalid {
    border: red solid 3px;
}


input:invalid button {
    pointer-events: none;
}

#colors,
#areas,
#circles {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.color {
    display: block;
    width: 20px;
    height: 20px;
}

.pallete {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.x-button,
.x-button-2,
.x-button-3 {
    position: absolute;
    top: 2px;
    right: 8px;
    cursor: pointer;
}

.custom-img-class {
    width: 20px;
    height: 20px;
}

.custom-button {
    background-color: #012970;
    color: white;
    /* position: absolute;
    right:80px; */
}

.custom-button:hover {
    background-color: #012970;
}

.bi-plus-square,
.bi-pencil-square,
.bi-list,
.bi-upload {
    font-weight: bold;
    font-size: 20px;
}

.card-spacing {
    margin-bottom: 20px;
}

/*.offcanvas {*/
/*  background-color: transparent;*/
/*}*/

.btn-bd-primary {
    position: relative;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #012970;
    --bs-btn-border-color: #012970;
    --bs-btn-border-radius: .5rem;
    --bs-btn-transition: all 0.2s ease-in-out;

    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #021186;
    --bs-btn-hover-border-color: #021186;
    --bs-btn-hover-transition: all 0.2s ease-in-out;

    --bs-btn-focus-shadow-rgb: #012970-rgb;

    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #010e2e;
    --bs-btn-active-border-color: #010e2e;
    --bs-btn-active-transition: all 0.2s ease-in-out;
}

.btn-bd-primary:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: .5rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.btn-bd-primary:active:after {
    opacity: 1;
}

.pcr-app {
    position: absolute !important;
    left: 10px !important;
    top: 475px !important;
}

.custom-tooltip {
    --bs-tooltip-bg: whitesmoke;
    --bs-tooltip-color: black;
}

.cross-icon::before,
.cross-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
}

.cross-icon::before {
    transform: translateY(-50%) rotate(90deg);
}

.cross-icon::after {
    transform: translateY(-50%) rotate(0);
}

.custom-popup .leaflet-popup-tip-container {
    display: none;
}

.fill-slider-input-wrapper,
.border-slider-input-wrapper {
    display: flex;
    align-items: center;
}

.fill-slider-input-wrapper input:not(:last-child),
.border-slider-input-wrapper input:not(:last-child),
.fill-slider-input-wrapper span:not(:first-child),
.border-slider-input-wrapper span:not(:first-child) {
    margin-left: 5px;
}

#fill-opacity-input,
#border-weight-input {
    text-align: center;
    height: 25px;
    width: 55px;
}

<<<<<<<<< Temporary merge branch 1 .custom-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-marker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}

.marker-number {
    color: black;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    =========.line-cursor {
        cursor: crosshair;
    }