body {
    max-width: 80% !important;
    margin: 0 auto !important;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.form-control:focus {
    border-color: #495057;
    box-shadow: 0 3px 10px #495057;
}

.form-select:focus {
    border-color: #495057;
    box-shadow: 0 3px 10px #495057;
}

.custom-btn-check {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

li {
    list-style-type: none;
}

input[type='radio'],
label {
    cursor: pointer;
}

input[type='radio'] {
    position: relative;
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    animation: DisableFloor 1s linear forwards;
}

input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 35%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 35%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #495057;
    transform: translate(-50%, -50%);
    visibility: visible;
}

.form-check-input:checked {
    border-color: #495057;
}

.form-check-input:not(:checked) {
    border-color: #495057;
}

.input-file-row {
    display: inline-block;
}

.input-file {
    position: relative;
    display: inline-block;
}

.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #495057;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.input-file input[type=file]:focus+span {
    box-shadow: 0 0 0 0.2rem #495057;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
    background-color: #eee;
}

/* Список файлов */
.input-file-list {
    padding: 10px 0;
}

.input-file-list-item {
    margin-bottom: 10px;
}

.input-file-list-remove {
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-left: 5px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    grid-auto-flow: dense;
}

.grid:nth-child(31n + 1) {
    grid-column: 1 / -1;
}

.grid:nth-child(16n + 2) {
    grid-column: -3 / -1;
}

.grid:nth-child(16n + 10) {
    grid-column: 1 / -2;
}

@media (max-width: 459px),
(max-width: 1450px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
}

@keyframes DisableFloor {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }
}

.leaflet-control-attribution {
    visibility: hidden !important;
}

.custom-button {
    background-color: #495057;
    color: white;
}

.custom-button:hover {
    background-color: #495057;
}

@media only screen and (max-width: 768px) {
    .custom-input-group {
        display: block;
    }

    .custom-input-group-append {
        margin-top: 10px;
    }

    .custom-form-control {
        min-width: 225px !important;
        border-radius: 12px !important;
    }
}

.ui-autocomplete {
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.ui-menu-item {
    padding: 3px 5px;
    cursor: pointer;
}

.ui-state-focus,
.ui-autocomplete li:hover {
    background-color: #f5f5f5;
    color: #333;
}

.ui-helper-hidden-accessible {
    display: none !important;
}

h5,
label {
    color: white;
}

.custom-btn-check {
    background-color: #282d31;
    color: #adb5bd;
    border-color: #383e44;
}

.form-check-label {
    color: #adb5bd;
}

#id_height_unit {
    width: 42px;
}

nav {
    margin: 30px 0 0 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #343a40;
}

::-webkit-scrollbar-thumb {
    background-color: #777676;
}

#message-modal {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 500px;
}

.hidden {
    display: none;
}

.alert-icon {
  width: 24px;
  height: 24px;
}