.labels {
    font-size: 11px
}

form,
input,
label,
p {
    color: white !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #012970;
    outline: 0 none;
}

#id_username,
#id_group {
    background-color: #00000066;
}

#save_button {
    border: 4px solid #012970;
}