<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПОльзовательское соглашение</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Sed quisquam corporis exercitationem deserunt debitis est dolore. 
        Veritatis nisi voluptatum, nulla veniam at esse illum repudiandae animi repellendus? 
        Sint, doloribus aliquam.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Ipsum a consequatur tempora ipsam id mollitia nihil ullam doloribus necessitatibus rem laboriosam dolore, 
        incidunt excepturi ea cumque! 
        Maxime, quod! Temporibus, asperiores.
    </p>
</body>
</html>